@import "tailwindcss";
@font-face {
  font-family: 'TsukuARdGothic';
  src: url('/TsukuARdGothicStd-Bold.woff2') format('woff2');
}

@theme {
  --color-primary: cornflowerblue;
}

:root {
  font-family: 'TsukuARdGothic', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 800;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1f1e33;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
  color: cornflowerblue !important;
  text-decoration: underline !important;
}